
@media screen and (max-width:768px){

#imgcadastro{
    display: none;
}



section img{
    width:350px;
    max-width:350px;
    

};

    

    

    #imgcadastro{
        display: none;

       
    }

    #inicio{
        flex-direction: column  ;
    }
    
    .textogeral{
        width:100%;
        margin: 10px;
        height: 350px;
        
    }

    section{
       height:auto;
       
       /* padding-bottom:50px; */
      

        
            
            
    }

    #imgplay{
        width: 350px;
    }

    #imgborn{
        width: 350px;
        max-width:350px ;
    }


section{
    flex-direction: column;
    align-content: center 
}

    .inverter{ flex-direction: column-reverse
   ;

    }



    #imglife{
        width: 350px;
        max-width:350px;
    }


    

}
